﻿<div ID="laud2">
			<div ID="galerii-paremal">
				<table ID="pildid-paremal">
					<tbody>
						<tr>
							<th colspan="3"> Brünetid<th>
						</tr>
						<tr>
							<td>
								<img class="tydrukud" src="http://www.wallpaperhi.com/thumbnails/detail/20120521/brunettes%20socks%20minka%20kelly%201920x1200%20wallpaper_www.wallpaperhi.com_62.jpg">
							</td>
							<td>
								<img class="tydrukud" src="http://www.mhdwallpapers.com/wp-content/uploads/2014/09/Miranda-kerr-women-model-brunette-fashion-sexy-babes-bikini-swimwear-beaches-wallpaper.jpg">
							</td>
							<td>
								<img class="tydrukud" src="http://www.artsfon.com/pic/201411/1920x1080/artsfon.com-32024.jpg">
							</td>

						</tr>
						<tr>
							<td>
								<img class="tydrukud" src="http://wallpapershome.com/images/pages/pic_h/2550.jpg">
							</td>
							<td>
								<img class="tydrukud" src="http://3.bp.blogspot.com/_02DYBQTDNSM/SGJ_0f5Nu3I/AAAAAAAAAcc/_gQoCs1DS4Q/s320/Heidi+Klum+Top+Fashion+Model_4.jpg">
							</td>
							<td>
								<img class="tydrukud" src="http://www.purehdwallpaper.com/wallpapers/megan-fox-hot-body-1920x1200.jpg">
							</td>
						</tr>
						<tr>
							<td>
								<img class="tydrukud" src="http://images8.alphacoders.com/527/527635.jpg">
							</td>
							<td>
								<img class="tydrukud" src="http://www.pulsarwallpapers.com/data/media/19/Brunette_Ashley_Vickers_Model_1920X1200_Wallpaper.jpg">
							</td>
							<td>
								<img class="tydrukud" src="http://www.globalintimatewear.com/Upload/UserFiles/image/Dolcessa%20Swimwear%202014%20Collection%20Campaign%20(2).jpg">
							</td>
						</tr>
					</tbody>
				</table>
			</div>
<div ID="galerii-vasakul">
				<table ID="pildid-vasakul">
					<tbody>
						<tr>
							<th colspan="3"> Blondid <th>
						</tr>
						<tr>
							<td>
								<img class="tydrukud" src="http://www.besthdwallpaper.com/thumbnails/large_Hot_Blonde_Girl_On_The_Beach_33237.jpg">
							</td>
							<td>
								<img class="tydrukud" src="http://cache.desktopnexus.com/thumbnails/1581888-bigthumbnail.jpg">
							</td>
							<td>
								<img class="tydrukud" src="http://api.ning.com/files/fl5zqutucoedaicdMzFO*jYjnReQdWhSsU-nsX5w0BB8MjEu7*1AGgdQ07-1-HGYli8QrLg3nVtHOQIT1ariSJ*zkocvvF9R/1113591bigthumbnail.jpg">
							</td>
						</tr>
							
						</tr>
						<tr>
							<td>
								<img class="tydrukud" src="http://cache.desktopnexus.com/thumbnails/593831-bigthumbnail.jpg">
							</td>
							<td>
								<img class="tydrukud" src="http://cache.desktopnexus.com/thumbnails/932149-bigthumbnail.jpg">
							</td>
							<td>
								<img class="tydrukud" src="http://1.bp.blogspot.com/-ib6Hnte1mIs/UHEUcIMgojI/AAAAAAAAAkI/zJ4UpQHTbZA/s640/Best-top-desktop-blue-wallpapers-hd-blue-wallpaper-beautiful-free-backgrounds-34.jpg">
							</td>
							
						</tr>
						<tr>
							<td>
								<img class="tydrukud" src="http://pegitboard.com/pics/t/293325.jpg">
							</td>
							<td>
								<img class="tydrukud" src="http://mrpopat.in/admin/upload/wallpaper/201305241369379528100904166.jpg">
							</td>
							<td>
								<img class="tydrukud" src="http://www.fashiongonerogue.com/wp-content/uploads/2014/02/victorias-secret-swim-20146.jpg">
							</td>	
						</tr>
					</tbody>
				</table>
			</div>
</div>