body{
	min-width: 1600px;
  max-width: 1920px;
}
h1{
	font-family: Courier;
	color: #F38630;
	font-size: 30px;
	text-align: center;
}
#sissejuhatus{
	font-family: Courier;
	color: #F38630;
	font-size: 20px;
	text-align: center;
	position:relative;
	top: 110px;
	margin-left: auto;
	margin-right: auto;
}
#peapilt {
  height: 300px;
  width: 700px;
  position: relative;
  margin-left: 27%;
  margin-right: 24%;
  top: 50%;
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 50px;
  padding-top: 50px;
  margin-top: 4%;

}
#laud1 {
position: relative;
border-radius: 30px;
background-color:#A7DBD8;
border: 3px solid #F38630;
}
#laud2 {
width:100%;
margin-top: 10px;
position:relative;
border-radius: 30px;
background-color: #69D2E7;
height: 810px;
border: 3px solid #F38630;
}
#laud2 h1{
margin-top: 20px;}
#laud2 p {
margin-left: 20px;}

.menu:hover {
background-color: #F38630;
text-decoration: underline;
}
.menu {
  text-decoration: none;
	position: relative;
	display: inline-block;
	height: 80px;
	width: 80px;
	padding: 30px;
	border-radius: 100%;
	border: 6px solid #FA6900;
	margin-left: 5px;
	margin-top: 5px;
	text-align: center;
	top:-5px;
	font-weight:bold;
	}
.menu p {margin:30px 0px;
padding: 0px;
vertical-align: middle;
}
#suurlogo {
position: relative;
top: 50px;
padding: 30px;
width:50px;
height:60px;
border: 6px solid #53D67A;
font-size: 60px;
border-radius: 5px;
margin-left: auto;
margin-right: auto;
background-color: #00FD4B;

}
/*#taustanupud{
  border: 2px solid #000000;
  float: left;
  position: relative;
  left: 49%;
  bottom: -20px;
  top: 470px;
  border-radius: 5px;
  background-color: #cc0323;
  height: 35px;
}
/*#taustanupud2{
border: 2px solid #000000;
  float: left;
  position: relative;
  left: 3%;
  bottom: -20px;
  top: 730px;
  border-radius: 5px;
  background-color: #cc0323;
  height: 35px;
  margin: 0 auto;
  }*/
#login2{ 
  border: 2px solid #000000;
  border-radius: 5px;
  height: 100px;
  width: 200px;
  background-color: #cc0323;
  margin-top: 10%;
  margin-left: 45%;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 5px;
}

#taustanupud2{
  border: 2px solid #000000;
  border-radius: 5px;
  background-color: #cc0323;
  height: 35px;
  margin: 0 auto;
  margin-top: 10px;
  margin-left: 47%;
  margin-right: 47%;
}
  
#taustanupud3{
  border: 2px solid #000000;
  float: left;
  position: relative;
  left: 47%;
  bottom: -20px;
  top: 730px;
  border-radius: 5px;
  background-color: #cc0323;
  height: 35px;
}

#nupp {
  width: 20px;
  height: 20px;
  margin-left: 18%;
}
#nupp2 {
width:20px;
height: 20px;
}
#nupp3{

  width: 20px;
  height: 20px;
  margin-top: 8px;
  margin-right: 18%;
}
#tervitustekst {
position:relative;
top: 80px;
margin-left: auto;
margin-right: auto;
}
html {
background-color:#E0E4CC;
}

#login:hover {
background-color:#F38630;
text-decoration: underline;
}
#register:hover {
background-color:#F38630;
text-decoration: underline;
}
#galerii-paremal{
width: 45%;
float: right;
}
#galerii-vasakul{
/*margin: 0 auto;*/
width: 45%;
float: left;
}
#pildid-paremal {
  border: #000000 1px solid;
  background-color: #acd1b2;
  float: right;
  margin: 5%;
  margin-left: 1%;
  margin-top: 30px;
  border-radius: 15px;
/*  table-layout:fixed;
  width: 100%;*/
 }
 #pildid-vasakul {
  border: #000000 1px solid;
  background-color: #acd1b2;
  float: left;
  margin: 5%;
  margin-top: 30px;
  margin-right: 1%;
  border-radius: 15px;
 }
 
 .tydrukud {
  width: 200px;
  height: 225px;
  margin: 8px;
 }
 div.img {
    margin: 1%;
    padding: 5px;
    border: 1px solid #0000ff;
    height: auto;
    width: auto;
    float: left;
    text-align: center;
}	

div.img img {
    display: inline;
    margin: 5px;
    border: 1px solid #ffffff;
}

div.img a:hover img {
    border: 1px solid #0000ff;
}

.image{
   float: left;
  width: 300px;
  height: 300px;
  background-size: cover;
  margin: 50px;
}
